{% extends "base.html" %}

{% block content %}
<h1 class="center">Free Agent Pitchers</h1>

    <p class="center">
        Available on your wire. Min. 5 IP.<br />
        Updated {% now "jS F Y h:i a T" %}.<br />
    </p>

    {% for player in players %}
        <div style="padding-bottom: 12px;">
            <h2 style="text-align: center">
                <a style="color: #2962FF; text-decoration: none;" href="http://www.cbssports.com/fantasy/baseball/players/{{ player.key_cbs }}/{{ player.name_full|slugify }}/" target="_blank">{{ player.name_full }}</a>
            </h2>

            <h4 style="text-align: center">
                {{ player.team_name }}
                / {{ player.primary_pos }}
                {% if player.dl_eligible %}
                    /
                    <span style="color: #D50000">
                        {{ player.dl_status }}
                    </span>
                {% endif %}
            </h4>

            <table align="center" style="min-width: 320px">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>G/GS</th>
                        <th>W/L</th>

                        {% if player.primary_pos == 'RP' %}
                            <th>HLD</th>
                            <th>SV</th>
                        {% endif %}

                        <th>K-BB%</th>
                        <th>DRA-</th>
                        <th>cFIP</th>
                        <th>FIP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">{{ player.ip }}</td>
                        <td align="center">{{ player.g }}/{{ player.gs }}</td>
                        <td align="center">
                            {{ player.wins }}-{{ player.losses }}
                        </td>
                        {% if player.primary_pos == 'RP' %}
                            <td align="center">{{ player.hld|floatformat|default:0 }}</td>
                            <td align="center">{{ player.sv|floatformat|default:0 }}</td>
                        {% endif %}
                        <td align="center">{{ player.so_bb|floatformat }}%</td>
                        <td align="center">{{ player.dra_minus|floatformat }}</td>
                        <td align="center">{{ player.cfip|floatformat }}</td>
                        <td align="center">{{ player.fip|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>

            <p style="text-align: center">
                Forecast:
                {% if player.team_sos >= .5 %}
                    <span style="">👎 Tougher</span>
                {% else %}
                    <span style="">👍 Easier</span>
                {% endif %} /
                {{ player.team_upcoming }}
            </p>
        </div>
    {% endfor %}

{% endblock %}
