{% extends "base.html" %}

{% block title %}
    Teams
{% endblock %}

{% block content %}
    <h1>Teams</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>League</th>
                <th>Platform</th>
                <th>Scoring</th>
                <th>FA Pitching</th>
                <th>Top Prospects</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.team_name }}</td>
                    <td>{{ team.league_name }}</td>
                    <td>{{ team.platform|title }}</td>
                    <td>{{ team.league_scoring_type|title }}</td>
                    <td>
                        <a href="/teams/{{ team.id }}/reports/fa/pitching/">Report</a>
                    </td>
                    <td>
                        <a href="/teams/{{ team.id }}/reports/fa/prospects/">Report</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
