body {
    font-family: "Graphik",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}

th, td {
    padding: 0.8rem 1rem;
}

th {
    border-bottom: solid 1px #333;
    font-size: 0.8rem;
}

th.hilite {
    border-top: solid 1px #3D5AFE;
    border-left: solid 1px #3D5AFE;
    border-right: solid 1px #3D5AFE;
    border-bottom: solid 1px #ddd;
}

td {
    border-bottom: solid 1px #eee;
    font-size: 0.8rem;
}

td.hilite {
    border-left: solid 1px #3D5AFE;
    border-right: solid 1px #3D5AFE;
}

td.hilite:last-of-type {
    border-bottom: solid 1px #3D5AFE;
}

td.n {
    text-align: right;
}

div.responsive {
    overflow-x: auto;
}
