{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Pitcher Rankings
{% endblock %}

{% block headcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}" />
{% endblock %}

{% block headjs %}
    <script src="{% static 'js/underscore-1.8.3.js' %}"></script>
    <script src="{% static 'js/vue-2.3.3.js' %}"></script>
    <script src="{% static 'js/moment-2.18.1.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="center">Pitchers</h1>

    <div id="app">
        <div class="max-width-4 mx-auto clearfix">
            <div>
                <label class="form-checkbox" for="id_includeInjured">
                    <input type="checkbox" id="id_includeInjured"
                        v-model="includeInjuredInLists" />
                     <i class="form-icon"></i>
                    Include injured players in lists
                </label>
            </div>

            <div class="clearfix">
                <div class="md-col md-col-4">
                    <h3>Starting Tomorrow</h3>

                    <ul class="list-reset">
                        <li v-for="player in startingSoon(1)">
                            {% verbatim %}
                                {{ player.player.name_full }}
                            {% endverbatim %}
                        </li>
                    </ul>
                </div>

                <div class="md-col md-col-4">
                    <h3>Starting +2 days</h3>

                    <ul class="list-reset">
                        <li v-for="player in startingSoon(2)">
                            {% verbatim %}
                                {{ player.player.name_full }}
                            {% endverbatim %}
                        </li>
                    </ul>
                </div>

                <div class="md-col md-col-4">
                    <h3>Starting +3 days</h3>

                    <ul class="list-reset">
                        <li v-for="player in startingSoon(3)">
                            {% verbatim %}
                                {{ player.player.name_full }}
                            {% endverbatim %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="columns">
                <div class="md-col md-col-3">
                    <h3>Top 10 DRA-</h3>

                    <ul class="list-reset">
                       <li v-for="player in top('*', 10)">
                           {% verbatim %}
                                {{ player.player.name_full }}
                           {% endverbatim %}
                       </li>
                    </ul>
                </div>

                <div class="md-col md-col-3">
                    <h3>Top 10 Starters</h3>

                    <ul class="list-reset">
                       <li v-for="player in top('SP', 10)">
                           {% verbatim %}
                                {{ player.player.name_full }}
                           {% endverbatim %}
                       </li>
                    </ul>
                </div>

                <div class="md-col md-col-3">
                    <h3>Top 10 Relievers</h3>

                    <ul class="list-reset">
                       <li v-for="player in top('RP', 10)">
                           {% verbatim %}
                                {{ player.player.name_full }}
                           {% endverbatim %}
                       </li>
                    </ul>
                </div>

                <div class="md-col md-col-3">
                    <h3>Top Injured</h3>

                    <ul class="list-reset">
                        <li v-for="player in topInjured(10)">
                            {% verbatim %}
                                {{ player.player.name_full }} ({{ player.player.dl_status }})
                            {% endverbatim %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <stat-list title="Top Wins" stat="wins" :players="topForStat('p_wins', 10)"></stat-list>
        <stat-list title="Top QS" stat="qs" :players="topForStat('p_qs', 10)"></stat-list>
        <stat-list title="Top ERA Beaters" stat="era_fip" :players="topForStat('era_fip', 10)"></stat-list>
        <stat-list title="Relievers Coming In Hot" stat="gmli" :players="topForStat('p_gmli', 10)"></stat-list>
        <stat-list title="Top Holds" stat="hld" :players="topForStat('p_hld', 10)"></stat-list>
        <stat-list title="Top Saves" stat="sv" :players="topForStat('p_sv', 10)"></stat-list>
        <stat-list title="The Andrew Miller Set" :players="longHaulRelievers(10)"></stat-list>
    </div>
{% endblock %}

{% block footerjs %}
    <script>
        window.__players__ = {{ players_json|safe }};
    </script>

    <script src="{% static 'app.js' %}"></script>
{% endblock %}
