{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Prospect Rankings
{% endblock %}

{% block headcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="center">Prospects</h1>

    <table>
        <thead>
            <tr>
                <th> </th>
                <th>Name</th>
                <th>Age</th>
                <th>Position</th>
                <th>MLB</th>
                <th>Fangraphs</th>
                <th>Baseball Prospectus</th>
                <th>Baseball America</th>
                <th>Composite Points</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ player.player.name_full }}</td>
                    <td>{{ player.player.age|default:"&mdash;" }}</td>
                    <td>{{ player.player.primary_pos }}</td>
                    <td>{{ player.rank_mlbam|default:"&mdash;" }}</td>
                    <td>{{ player.rank_fg|default:"&mdash;" }}</td>
                    <td>{{ player.rank_bp|default:"&mdash;" }}</td>
                    <td>{{ player.rank_ba|default:"&mdash;" }}</td>
                    <td>{{ player.rank_composite }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
