{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock %} / Fantasy Overflow</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/basscss.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">

    {% block headcss %}{% endblock %}
    {% block headjs %}{% endblock %}
</head>
<body>
    <div class="p-10">
        {% include "nav.html" %}

        {% block content %}{% endblock %}
    </div>

    {% block footerjs %}{% endblock %}
</body>
</html>
