<header class="navbar">
  <section class="navbar-section">
    <span class="navbar-brand mr-10">
      <strong>Fantasy Overflow</strong>
    </span>
    <a href="/teams/" class="btn btn-link">Teams</a>
  </section>
  <section class="navbar-section">
    <a href="/login">
      Sign up or log in
    </a>
  </section>
</header>
